.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
.header_logo {
  height: 85px;
  margin-left: 40px;
  object-fit: contain;
}

.header_input {
  display: flex;
  align-items: center;
  width: 50%;
  border: 1px solid gray;
}
.header_icon {
  margin-left: 10px;
}

.header_searchbtn {
  width: 10% !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: grey;
  margin-left: 120px;
}
.header_searchbtn :hover {
  color: black;
}

.header_icons {
  display: flex;
  align-items: center;
}
.header_input > input {
  flex: 1;
  border: none;
  width: 10%;
}
.menu {
  position: absolute;
  top: 40px;
}
